.kick-dots-out__dot {
  position: absolute;
}
.kick-dots-out__s {
  word-spacing: .25em;
}
/*.kick-dots-out__s + .kick-dots-out__s {*/
  /*display: inline-block;*/
  /*white-space: pre;   чтобы двойные пробелы «не слипались» */
/*}*/
.kick-dots-out__left {
  margin-left: -.7em;
}